.app-container{
    display: flex;
}

.content{
    width: 100%;
}

.sidebar{
    height: 100vw;
}

.card-custom{
    margin: 10px;
}

.badge-custom{
    position: absolute;
    top: -5px;
    right: 0;
}

/* footer */
    .footer-position{
        position: absolute;
        bottom: 0;
    }
/* footer */